# See http://help.github.com/ignore-files/ for more about ignoring files.

# bower
bower_components

# IDE - VSCode
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# dependencies
node_modules

# imgs
